# Configuration file of Harbor

# The IP address or hostname to access admin UI and registry service.
hostname: reg.mydomain.com

# http related config
http:
  # port for http, default is 80. If https enabled, this port will redirect to https port
  port: 80

# https related config
https:
  # https port for harbor, default is 443
  port: 443
  # The path of cert and key files for nginx
  certificate: /your/certificate/path
  private_key: /your/private/key/path
  # enable strong ssl ciphers (default: false)
  # strong_ssl_ciphers: false

# The initial password of Harbor admin
harbor_admin_password: Harbor12345

# Harbor DB configuration
database:
  # The password for the user('postgres' by default) of Harbor DB.
  password: root123
  max_idle_conns: 100

# The default data volume
data_volume: /data

jobservice:
  max_job_workers: 10

metric:
  # port: 9090
  port: 80
